*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

/**box1**/

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}


.logo{
   background-image: url(amazon_logo.png);
   background-size: cover;
   height: 50px;
   width: 105px;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

    /**box2**/


.address{
    font-size: 0.7rem;
    color: #cccccc;
    margin-left: 15px;
}
.faltu{
    font-size: 0.8rem;
    color: #FFFFFF;
    margin-left: 3px;
    padding: 0px 0px 1px;
   
    font-weight: 900;
    font-size: 0.8rem;
}
.nav-icon{
    display: flex;
  
}
.nav-address{
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: left;
    border: 1.5px solid transparent;
    cursor: pointer;
}
.nav-address:hover{
    border: 1.5px solid white;
  } 

  /**box3**/

  .SELECT{
    display: flex;
    justify-content: space-evenly;
    width: 890px;
    height: 40px;
    border-radius: 4px;
  }
  .what{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 55px;
    height: 40.4px;
    text-align: left;
    border-right: 1px solid gray;
    cursor: pointer;
  }
  .what:hover{
    background-color: rgb(190, 189, 189);
  }
  .search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
  }
  .search{
    width: 60px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fca503;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
  }
  .search:hover{
    background-color: #fc8403;
  }
  
#how{
  text-align: center;
}
option{
  background-color: white;
}

/**box4**/

.when{
     width: 21.6px;
     height: 16.2px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.language{
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  border: 1.5px solid transparent;
  cursor: pointer;
}
.language:hover{
  border: 1.5px solid white;
}
  
#all{
  background-color: #0F1111;
  color: white;
  border: none;
  font-weight: 900;
  cursor: pointer;
}
.when{
  margin-top: 5px;
}

/**box5**/

.hii{
  font-size: 0.7rem;
  align-items: center;
  margin-left: 8px;
  font-weight: 600;
}
#allada{
  background-color: #0F1111;
  color: white;
  border: none;
  font-weight: 900;
  font-size: 0.8rem;
  align-items: left;
  margin-left: 3px;
  cursor: pointer;
}
#hii{
  padding-right: 4px;
  padding-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#hii:hover{
  border: 1.5px solid white;
}

/**box6**/

.returns{
  padding-right: 4px;
  padding-left: 3px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
.returns:hover{
  border: 1.5px solid white;
}
#Returns{
  font-size: 0.7rem;
  align-items: center;
  margin-left: 8px;
  font-weight: 600;
}
.Order{
  font-weight: 900;
  font-size: 0.8rem;
  margin-left: 6px;
  align-items: left;
}

/**box7**/

#write{
  color: white;
  display: flex;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1.5px solid transparent;
}
#write:hover{
  border: 1.5px solid white;
}
.cart-icon{
  font-size: 30px;
}
.Cart{
  font-weight: 900;
  font-size: 0.8rem;
  margin-top: 15px;
}

/**panel**/

.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops p{
  display: inline;
  color: white;
}
#option{
  border: none;
  background-color: #222f3d;
  color: white;
  font-size: 13.56px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 10px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#option:hover{
  border: 1.5px solid white;
}
.panel-ops{
  width: 1140px;
  font-size: 13.56px;
}
.panel-deals{
  font-size: 13.56px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1.5px solid transparent;
  justify-content: left;
  cursor: pointer;
}
.panel-deals:hover{
  border: 1.5px solid white;
}
#All{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#All:hover{
  border: 1.5px solid white;
}
#Amazon-Pay{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
#Amazon-Pay:hover{
  border: 1.5px solid white;
}
#Amazon-Pay:active{
  color: gray;
}
#Coupons{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Coupons:hover{
  border: 1.5px solid white;
}
#Amazon{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Amazon:hover{
  border: 1.5px solid white;
}
#Sell{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Sell:hover{
  border: 1.5px solid white;
}
#Best{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Best:hover{
  border: 1.5px solid white;
}
#Buy{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Buy:hover{
  border: 1.5px solid white;
}
#Today{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Today:hover{
  border: 1.5px solid white;
}
#Mobile{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Mobile:hover{
  border: 1.5px solid white;
}
#Customer{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Customer:hover{
  border: 1.5px solid white;
}
#Gift{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Gift:hover{
  border: 1.5px solid white;
}
#Electronics{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
#Electronics:hover{
  border: 1.5px solid white;
}

/**hero section**/

.image{
  background-image: url(hero_image.jpg);
  height: 350px;
  width: 1470px;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 30px;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #007185;
}
.hero-message{
  background-color: white;
  height: 40px;
  align-items: center;
  display: flex;
  text-align: center;
  width: 96%;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 25px;
}

/**shop-section**/

.shop-section{
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  width: 1470px;
  margin-left: 30px;
}
.box{
  height: 400px;
  border: 2px solid black;
  width: 290px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
.box-image{
  height: 300px;
}




